@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="content-box-large" style="margin-top: 50px; width: fit-content;">
            @Html.ActionLink("Add New Record", "AddLead", "Home")
            <hr>
            @Html.ActionLink("View Records", "ViewInfo", "Home")
        </div>

    </div>
</div>

<footer class="footer">
    <div class="container">

        <div class="copy text-center">
            Copyright 2014 <a href='#'>Website</a>
        </div>

    </div>
</footer>